@CHARSET "EUC-KR";
body {
	margin: 10px;
}
/* .mainmenu ul li a{
	margin-bottom: 20px;
	padding-top: 30px; 안쪽 여백
line-height: 30px;  줄간격
	height: 80px;
} */

/* footer관련 css*/
.footer .text-center{
	margin-top: 10px;
	padding-top: 10px;
	background-color: #222222;
	color: #76919d;	
}
.navbar-fixed-bottom span{
	color: #000000;
}
/*기업리뷰 미승인리스트 관련*/
.tablehover:hover{
	background-color: rgba(213,213,213,0.5);
}

/*기업리뷰 상세보기 관련*/
#reviewRate{
	margin-left: 15px;
	padding: 30px 0px 30px 0px;
	background-color: #fff;
}
.star-rating { 
	width:205px; 
} 
.star-rating, .star-rating span { 
	text-align: left;
	display:inline-block; height:39px; overflow:hidden; background:url("/img/star.png"); 
} 
.star-rating span{ 
	background-position:left bottom; line-height:0; vertical-align:top; 
} 
#reviewRate, #etc{
	text-align: center;
}
.companyReviewDetail{
	padding: 25px 30px 25px 50px;
	
	background-color: rgba(213,213,213,0.5);
} 

/*메인화면 section옵션*/
#section1 {padding-top:50px;height:500px;color: #fff; background-image: url("/img/main/calendar.jpg"); background-size: cover;}
#section2 {padding-top:50px;height:500px;color: #fff; background-image: url("/img/main/resume.png"); background-size: cover;}
#section3 {padding-top:50px;height:500px;color: #fff; background-image: url("/img/main/coverletter.jpg"); background-size: cover;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
/* 수정가능한것 color / background-color: */

/*기업리뷰 입력폼*/
#companyReviewInsertForm{
	background-color: rgba(213,213,213,0.5);
	padding: 40px 40px 20px 40px;
}


/*기업정보 Insert에서 기업이름 자동완성 부분*/
.fixed-height {
	width: 200px;
	background-color: #fff;
	padding: 1px;
	max-height: 100px;
	overflow: auto;
}
.ui-helper-hidden-accessible{
	display: none;
}
#jobTopIndex{
	width: 300px;
}
